@import "tailwindcss";

@media (max-width: 768px) {
    .header {
        height: auto;
        padding: 1rem 1rem 2rem;
    }

    .header-links {
        flex-direction: column;
        gap: 1rem;
    }
}

div#cheerpjDisplay.status:before {
    content: "" !important;
    transform: translate(-50%, 0);
}

div#cheerpjDisplay.status:after {
    content: "" !important;
    transform: translate(-50%, 0);
  }
